<nav class="navbar navbar-dark bg-dark" style="padding-left:10px;">
    <a class="navbar-brand" href="/">Lake Eye</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/help" style="text-align: right; padding-right: 10px; font-size: 18px;">Help</a>
            </li>
        </ul>
    </div>
</nav>
      
