<main role="main">

    <section class="jumbotron text-center" style="padding: 55px 0px 55px 0px">
        <div class="container">
        <h1 class="jumbotron-heading">Lake Water Quality</h1>
        <img src="../../assets/imgs/logocropped.png" style="width: 17%;">
        <p class="lead text-muted" style="padding-top: 5px;">WE ARE LAKE POLICE!</p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
        <app-lakes-list></app-lakes-list>
        </div>
    </div>

</main>
